# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
# markdown files
changelog.md export-ignore
README.md export-ignore
# other files
.git/** export-ignore
.private/** export-ignore
.public/** export-ignore
docs/** export-ignore
game-files/** export-ignore
images/** export-ignore

