backup/
*.7z
*.zip
*.psd
*.conversationbundle
*.los
*.globalvariablesbundle
*.questbundle
assets/**/design
file_association/
docs/
screenshots/
ai/
fogofwar/
globalscripts/
globalvariables/
manifests/
gamedata/
chatter/
conversations/
quests/